<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Eventbrite', root_path , class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Accueil', root_path , class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Créer un évènement', new_event_path , class: 'nav-link'%>
      </li>
    </ul>
    <ul class="navbar-nav mr my-2 my-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon compte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Mon profil", user_path(current_user) , class: 'dropdown-item'%>
             <div class="dropdown-divider"></div>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {confirm: "Es tu sûr de te déconnecter ?"} , class: 'dropdown-item'%>
          <% else %>
            <%= link_to "S'inscrire", new_user_registration_path , class: 'dropdown-item'%>
             <div class="dropdown-divider"></div>
            <%= link_to "Se connecter", new_user_session_path , class: 'dropdown-item'%>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
