<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Accueil', root_path , class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Créer un évènement', '#' , class: 'nav-link'%>
      </li>
    </ul>
    <ul class="navbar-nav mr my-2 my-lg-0">
      <%# if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login/Sign-up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", '#' , class: 'dropdown-item'%>
          <%= link_to "Se déconnecter", '#' , class: 'dropdown-item'%>
        </div>
      </li>
      <%# else %>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login/Sign-up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "S'inscrire", '#' , class: 'dropdown-item'%>
          <%= link_to "Se connecter", '#' , class: 'dropdown-item'%>
        </div>
      </li> -->
      <%# end %>
    </ul>
  </div>
</nav>
